<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165825194291-r4qltemujpt75es86rmj3b1m79g4t23m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165825194291-r4qltemujpt75es86rmj3b1m79g4t23m</string>
	<key>API_KEY</key>
	<string>AIzaSyAaL3XFW3I8jCT4Deo1wIwBh0jVzConCjc</string>
	<key>GCM_SENDER_ID</key>
	<string>165825194291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laboudiguequentin.diapason</string>
	<key>PROJECT_ID</key>
	<string>diapason-18504</string>
	<key>STORAGE_BUCKET</key>
	<string>diapason-18504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165825194291:ios:b52f86f08ef858628a7646</string>
	<key>DATABASE_URL</key>
	<string>https://diapason-18504.firebaseio.com</string>
</dict>
</plist>